In [32]:
import os
import pandas as pd
train_filename = os.listdir('dataset/20news-bydate-train/comp.os.ms-windows.misc/')
train_data = []
for i in train_filename:
    file = "dataset/20news-bydate-train/comp.os.ms-windows.misc/"+i
    train_data.append(open(file, "r").read())
# f = open("dataset/20news-bydate-test/comp.os.ms-windows.misc/10003", "r")
# print(f.read())
test_filename = os.listdir('dataset/20news-bydate-test/comp.os.ms-windows.misc/')
test_data = []
for i in test_filename:
    file = "dataset/20news-bydate-test/comp.os.ms-windows.misc/"+i
    test_data.append(open(file, "r").read())
    
df_train = pd.DataFrame(train_data,index = train_filename,columns = ['Data'])
df_test = pd.DataFrame(test_data,index = test_filename,columns = ['Data'])

In [33]:
df_train

                                                   Data
9452  From: ntaib@silver.ucs.indiana.edu (Iskandar T...
9660  From: iak@cs.joensuu.fi (Ismo K{rkk{inen)\nSub...
9694  From: pmw0@ns1.cc.lehigh.edu (PHILLIP MICHAEL ...
9835  From: gking@cymbal.calpoly.edu (Gregory S King...
9693  From: dil.admin@mhs.unc.edu (Dave Laudicina)\n...
...                                                 ...
9876  From: ak333@cleveland.Freenet.Edu (Martin Lins...
9882  From: carter@photon.cem.msu.edu (Tom Carter <c...
9624  From: eric@tgm.CAM.ORG (Eric Trepanier)\nSubje...
9885  From: bsmith@access.digex.com (Barry Smith)\nS...
9871  From: jgarven@mcl.cc.utexas.edu\nSubject: Re: ...

[591 rows x 1 columns]

In [34]:
df_test

                                                    Data
10866  From: mono@rad.nd.edu\nSubject: Biobliography ...
10065  From: cpt@tiamat.umd.umich.edu (Paul Gubbins)\...
10859  From: stlombo@eos.acm.rpi.edu (Steve J. Lombar...
10633  From: tomh@metrics.com (Tom Haapanen)\nSubject...
10091  From: mongwa@acsu.buffalo.edu (Kan Mongwa)\nSu...
...                                                  ...
10684  From: ps@rzu.unizh.ch (Sezgey Pachkovsky)\nSub...
10822  From: Christian.Robert@etudiants.unine.ch\nSub...
10648  From: ad960@yfn.ysu.edu (Thomas Smith)\nSubjec...
10683  From: mg15@prism.gatech.EDU (Glynn,Mike)\nSubj...
10021  From: ak333@cleveland.Freenet.Edu (Martin Lins...

[394 rows x 1 columns]